.startMeet{
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.meetInput{
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 30px;
}
.meetForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  
}