.aboutP{
    border: 2px solid white;
    width: 30%;
    height: 50%;
    margin-top: 2%;
    margin-left: 15%;
    font-size: 27px;
    letter-spacing: 1px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    z-index: 1;
    position: relative;

}
.aboutTitle{
    background-color: red;
    color: white;
    border: 2px solid white;
    width: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    rotate: -11deg;
  margin-top: 5%;
  margin-left: 10%;
}
.aboutPage img{
    width: 50%;
    height: 70%;
    position: absolute;
    top: 20%;
    right: 10%;
    border-radius: 30px;
   
}
.allAbout{
    background-image: url("../../assets/bgNav.webp");
    background-repeat: no-repeat;
    background-size: cover;
}