.sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  background: rgb(38,60,157);
  background: radial-gradient(circle, rgba(38,60,157,1) 0%, rgba(20,33,86,1) 100%);
  width: 250px;
  color: #ffff;
  transition: 0.3s;
}
.upSidebare{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid white ;
}
.imgprofile{
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidelist {
margin-top: 10px;
  list-style: none;
  border-bottom: 1px solid white;
 padding: 2px;
}
.listelement,.sideLink{
    padding: 5px 5px 20px 10px;
    transition: 0.3s;
    color:#ffff;
}
.listelement:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.sidebarIcon{
    margin-right: 5px;
}