.courseContainer {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin: 50px;
  padding: 0 100px;
}

.search-bar-container {
  width: 50%;
  margin: 50px 20%;
  padding: 3px;
  background-color: blue;
  border-radius: 30px;
}
.pagination{
   
   margin-left: 40%;
   width: 30%;
}
.searchBar{
  z-index: 1;
}
