.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: sticky;
  top: 0;
 
  background-color: aliceblue;
}
.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navleft,
.navright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navright {
  gap: 10px;
}
.navright {
  gap: 10px;
}
.navleft {
  gap: 30px;
}
.logo {
  width: 40px;
  height: 40px;
}
