.upClasse{
    margin: 10px;
    padding: 15px;
    border-bottom: 2px solid black;
    width: 80%;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  align-items: center;
  color: blue;
  gap: 7px;
}
 .classeLink{
    text-decoration: none;
  color: blue;
    
 }
 .displayError{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-size: 30px;
    width: 75%;
  
 }
 .classesTitle{
  display: flex;
  justify-content: space-around;
  /* gap: 50px; */
  width: 80%;
 }