*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.lien{   
    transition-duration: 0.5s;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
   .lien:hover{
     border-bottom: 1px solid blue;
     scale: 1.3;
   }

button:hover{
    cursor: pointer;
}
.container{
    margin: 0
    10px;
}

.bluebtn{
    border: 2px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: #ffff;
    padding: 5px;
    text-align: center;
    font-size: 17px;
}
.bluebtn:hover{
    cursor: pointer;
    filter: contrast(5);
}
.minbtn{
    width: 80px;
}
.btn{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    text-align: center;
}
.maincontainer{
   background-color: var(--color-bg-body);
   color: var(--color-font);
}
:root{
    --color-bg-body: #ffff;
    --color-font:#0000;
}
.container{
    --color-bg-body: #0000;
    --color-font:#ffff;
}
a{
    text-decoration: none;

}